@media only screen and (min-width: 640px) and (max-width: 960px) {

.main1 img{
  width:auto;
}
.main2{
  background-color: blue;
}
.column1,.column2{
  width:48%;
  height:500px;
}
.column3{
  width:100%;
}
}
